<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="ServiceConfig" type="MessageServer.ServiceConfig,MessageServer"/>
  </configSections>
  <ServiceConfig>
    <add Name="Access" Type="AccessService.AuthorizationService,AccessService" Port="3300" />
    <add Name="RDP" Type="AccessService.ForwardingService,AccessService" Port="3399" />
  </ServiceConfig>
  <appSettings>
    <add key ="AccessKey" value="123"/>
    <add key ="RDP_Forwarding" value="192.168.1.100:3389"/>
  </appSettings>
</configuration>
