<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="ServiceConfig" type="MessageServer.ServiceConfig,MessageServer"/>
  </configSections>
  <ServiceConfig>
    <add Name="通用消息服务" Type="CommonService.Service,CommonService" Port="3347" />
    <!--<add Name="通用消息服务" Type="CommonService.Service,CommonService" Port="3347" Backlog="30000" MaxConnectionCount="10000"  />-->
    <add Name="Telnet服务" Type="TelnetService.Service,TelnetService" Port="3348" />
    <!--<add Name="转发服务" Type="ForwardingService.Service,ForwardingService" Port="3349" />-->
    <add Name="WebSocket服务" Type="WebSocketService.Service,WebSocketService" Port="3350" />
  </ServiceConfig>
</configuration>
